[submodule "lego"]
	path = lego
	url = https://gitlab.torproject.org/tpo/web/lego
[submodule "vendors/onion-mkdocs"]
	path = vendors/onion-mkdocs
	url = https://gitlab.torproject.org/tpo/web/onion-mkdocs.git
