[submodule "lego"]
	path = lego
	url = https://gitlab.torproject.org/tpo/web/lego
[submodule "vendors/clean-insights-js-sdk"]
	path = vendors/clean-insights-js-sdk
	url = https://gitlab.com/cleaninsights/clean-insights-js-sdk
