    {% if envvars('ANALYTICS') == '1' %}
    <div class="consent-banner page-content">
        {{ md(_("Is it OK to collect the following information of your visit?")) }}

        <ul>
          <li>
            {{ md(_("The pages you visit.")) }}
          </li>

          {% if envvars('ANALYTICS_LINK_TRACKING') == '1' %}
          <li>
            {{ md(_("Which links you click, including download links.")) }}
          </li>
          {% endif %}

          {% if envvars('ANALYTICS_BROWSER_DETECTION') == '1' %}
          <li>
            {{ md(_("Information about the browser you're using.")) }}
          </li>
          {% endif %}
        </ul>

        {{ _("To learn more about why we're collecting this information, for how long, and with whom we share this information with, please visit our") }}
        <a href="policy" target="_blank">{{ _("full privacy policy") }}</a>.

        <div class="consent-buttons">
          <a class="button" id="consent-ok">{{ md(_("Accept")) }}</a>
          <a class="button" id="consent-cancel">{{ md(_("Decline")) }}</a>
        </div>
    </div>

    <script>
      // See https://developer.matomo.org/api-reference/tracking-javascript
      function loadMatomo() {
        var _paq = window._paq = window._paq || [];

        _paq.push(['trackPageView']);

        {% if envvars('ANALYTICS_LINK_TRACKING') == '1' %}
        _paq.push(['enableLinkTracking']);
        {% endif %}

        {% if envvars('ANALYTICS_BROWSER_DETECTION') != '1' %}
        _paq.push(['disableBrowserFeatureDetection']);
        {% endif %}

        _paq.push(['disablePerformanceTracking']);
        _paq.push(['setDoNotTrack', true]);

        (function() {
          var u='{{ envvars('ANALYTICS_BACKEND') }}';

          _paq.push(['setTrackerUrl', u+'matomo.php']);
          _paq.push(['setSiteId',     '{{ envvars('ANALYTICS_SITE_ID') }}']);

          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();
      }

      const banner  = document.getElementsByClassName('consent-banner')[0]
      const consent = document.getElementById('consent-ok')
      const cancel  = document.getElementById('consent-cancel')

      consent.onclick = () => {
        banner.style.display = 'none'

        loadMatomo()
      }

      cancel.onclick = () => {
        banner.style.display = 'none'
      }

      // Thanks https://stackoverflow.com/questions/16947459/is-it-possible-to-check-the-value-of-firefox-dnt-with-javascript
      var isDNT = navigator.doNotTrack   === "yes" ||
                  navigator.doNotTrack   === "1"   ||
                  navigator.msDoNotTrack === "1";

      // Always display the banner except if Do Not Track is enabled
      // We're respecting the DNT setting even if it's deprecated
      // Check the Onion Launchpad Analytics documentation for details
      if (!isDNT) {
        banner.style.display = 'block'
      }
    </script>
    {% endif %}
