<footer id="support-footer">
  <div style="margin: 0 auto; text-align: center; width: 50vw;">
    <img src="support-tor.png">
    <h2>Need support?</h2>
    <p>{{ _("If you need support with anything that has to do with Tor, the Tor support channel can be reached on Telegram. There's also a dedicated active forum where anyone can post a question, feedback, or concern.") }}</p>
    <div>
      <div style="margin-top: 2%; margin-bottom: 5%; display: inline; margin-right: 2%;">
        <a href="https://www.torproject.org/download/" class="button"><img src="{{ 'telegram-brands.svg' | asseturl }}" id="onion-glyph-download">{{ _('Get support on Telegram') }}</a>
      </div>
      <div style="margin-top: 2%; margin-bottom: 5%; display: inline;">
        <a href="https://www.torproject.org/download/" class="button"><img src="{{ 'discourse-brands.svg' | asseturl }}" id="onion-glyph-download">{{ _('Visit the Tor Project forum') }}</a>
      </div>
    </div>
</footer>
