<div id="{{ this.id }}" class="parent">
  <div class="child step-text">
    <h2>{{ this.title }}</h2>
    {{ this.content }}
    {% if this.html %}
      {% include this.html %}
    {% endif %}
    {% if this.expand %}
      <details class="collapsible-text">
        <summary class="no-marker">{{ _(this.expand_title) }}<i class="chevron-down"></i></summary>
        <div class="details-container">
          {{ this.expand }}
        </div>
      </details>
    {% endif %}
  </div>
  <div class="child">
    <div class="circle-bg"></div>
    <img src="{{ this.image | asseturl }}">
  </div>
</div>
