{% extends "layout.html" %}

{% block nav_list %}
      <li><a href="#step1">{{ _('Download') }}</a></li>
      <li><a href="#step2">{{ _('Connect') }}</a></li>
      <li><a href="#step3">{{ _('Access') }}</a></li>
      <li><a href="#support-footer">{{ _('Support') }}</a></li>
      <li><a href="policy">{{ _('Privacy Policy') }}</a></li>
{% endblock %}

{% block content %}
      <div id="header-container">
        <header class="parent">
          <div class="child" id="site-intro">
            <h1>{{ this.title }}</h1>
            <div id="site-description">
              {{ this.subtitle }}
            </div>
            {% include 'macros/onion_url.html' %}
          </div>
          <div class="child">
            <img src="{{ 'header-tor.png' | asseturl }}" id="header-image">
          </div>
        </header>
      </div>

      <div class="shape"></div>

      <div id="page-content">
        <h2>{{ _('Circumvent Censorship with Tor') }}</h2>
        {{ md(_("Tor provides a way to browse the Internet anonymously, helping people **avoid both censorship and surveillance**. Tor Browser is just like any other browser you use - Chrome, Firefox, Safari, Yandex - except instead of exposing all your browsing behaviour to your Internet service provider and everyone else snooping on your traffic, it **hides your traffic** by encrypting it and letting it bounce through three random volunteer-run nodes (these nodes are also called \"relays\"). This process obfuscates who you are, where you are, and where you're going (i.e. which website you're visiting).")) }}
        {{ md(_('Tor is used by human rights defenders, activists, and people from all around the world who need to **escape censorship and surveillance**. To learn more about Tor and how it works, visit the [Tor Browser Manual](https://tb-manual.torproject.org).')) }}
      </div>

      <div id="steps-container">
        {{ this.sections }}
      </div>
{% endblock %}

{% block footer %}
    {% include 'macros/analytics.html' %}
{% endblock %}
