{% extends "layout.html" %}

{% block title %} | {{ this.title }}{% endblock %}

{% block content %}
      <div class="shape"></div>
      <div id="page-content">
        <h2>{{ this.title }}</h2>

        {{ this.intro }}

        <h3>{{ this.collection }}</h3>

        <ul>
          <li>{{ this.collection_visits }}</li>

          <li><emph>{{ this.collection_ip }}</emph></li>
        </ul>

        <h3>{{ this.retention }}</h3>

        <ul>
          <li>{{ this.retention_period }}</li>

          <li><emph>{{ this.retention_ip }}</emph></li>
        </ul>

        {% if envvars('ANALYTICS_PRIVACY_POLICY_CONTACT') != '' %}
        <h3>{{ this.contact }}</h3>

        <ul>
          <li>{{ md(this.contact_directions + ' <' + envvars('ANALYTICS_PRIVACY_POLICY_CONTACT') + '>' + '.') }}</li>
        </ul>
        {% endif %}
      </div>
{% endblock %}
