{% extends "layout.html" %}

{% block title %} | {{ this.title }}{% endblock %}

{% block content %}
      <div id="page-content">
        <h2>{{ this.title }}</h2>

        {% if envvars('ANALYTICS') != '' %}
        {{ md(this.analytics_intro) }}
        {% endif %}

        <h3>{{ this.collection }}</h3>

        <ul>
          {% if envvars('ANALYTICS') != '' %}
          <li>{{ md(this.collection_visits) }}</li>
          {% endif %}

          <li>{{ md(this.collection_ip) }}</li>
        </ul>

        <h3>{{ this.retention }}</h3>

        <ul>
          {% if envvars('ANALYTICS') != '' %}
          <li>{{ md(this.retention_period) }}</li>
          {% endif %}

          <li>{{ md(this.retention_ip) }}</li>
        </ul>

        {% if envvars('ANALYTICS_PRIVACY_POLICY_CONTACT') != '' %}
        <h3>{{ this.contact }}</h3>

        <ul>
          <li>{{ md(this.contact_directions + ' <' + envvars('ANALYTICS_PRIVACY_POLICY_CONTACT') + '>' + '.') }}</li>
        </ul>
        {% endif %}
      </div>
{% endblock %}
